
@{
    ViewBag.Title = "View";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/loginStyle.css" />
</head>

<body>

   
        <div class="form">
            <form class="login-form" action="@Url.Action("LoginCheck","Client")" method="post">
                <input type="text" name="Email" placeholder="Email"  />
                <input type="password" name="Password" placeholder="Mot de passe" />
                <button type="submit" >login</button>
                <p class="message">Pas de compte?! <a href="@Url.Action("Formulaire","Client")">Créez un!</a></p>
            </form>
        </div>

</body>
</html>